[submodule "nvim"]
	path = nvim
	url = git@github.com:tanlinhnd/neovim-config.git
[submodule "bitwarden-rofi"]
	path = bitwarden-rofi
	url = git@github.com:mattydebie/bitwarden-rofi.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:tanlinhnd/.tmux.git
