/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "machiatto.css";

/*
 Polar Night
 nord0  #2e3440
 nord1  #3b4252
 nord2  #434c5e
 nord3  #4c566a
 Snow Storm
 nord4  #d8dee9
 nord5  #e5e9f0
 nord6  #eceff4
 Frost
 nord7  #8fbcbb
 nord8  #88c0d0
 nord9  #81a1c1
 nord10 #5e81ac
 Aurora
 nord11 #bf616a
 nord12 #d08770
 nord13 #ebcb8b
 nord14 #a3be8c
 nord15 #b48ead
 */

/* -----------------------------------------------------------------------------
  * Base styles
  * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: @lavender;
    border: 0;
    padding: 0 0;
    /*font-family: FiraCode Mono;*/
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: "Hack Nerd Font";
    font-size: 13px;
    font-weight: 400;
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    /* border-radius: 10px; */
    /* background:#2d2a2e; */
    /* background-color: rgba(36, 39, 58, 0.85); */
    background-color: rgba(0, 0, 0, 0);
    /* background-color: shade(#1e1e2e, 0.95); */
}

#workspaces button {
    color: @base;
    border-radius: 10%;
    /* background-color: @base; */
    margin: 0px 0px;
    padding: 4 6 2 8;
}

#workspaces button:hover {
    color: @green;
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    border: 0px;
    background: none;
}

#workspaces button:hover * {
    color: @green;
    background-color: @base;
}

#workspaces * {
    color: whitesmoke;
}

#workspaces {
    border-style: solid;
    background-color: @base;
    opacity: 1;
    border-radius: 2px;
    margin: 8px 0px 8px 8px;
}

#workspaces button.focused {
    color: @green;
    border-radius: 5px;
    /* background-color: @flamingo; */
}

#workspaces button.focused * {
    color: @green;
}

#clock,
#custom-cava-internal,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power,
#custom-launcher,
#custom-aerox5-battery {
    padding: 5px 8px;
    border-style: solid;
    background-color: shade(@base, 1);
    opacity: 1;
    margin: 8px 0;
}

/* -----------------------------------------------------------------------------
  * Module styles
  * -------------------------------------------------------------------------- */

#custom-spotify {
    padding: 5px 5px;
    margin-right: 5px;
    color: @green;
}

#custom-aerox5-battery {
    padding: 5px 5px;
    margin-right: 5px;
    border-radius: 5px;
    color: @green;
}

#custom-cava-internal {
    background: none;
    border-radius: 5px;
    color: @green;
}

#clock {
    /* background-color:#a3be8c; */
    color: @sky;
    border-radius: 5px;
    margin: 8px 10px;
}

#cpu {
    color: @red;
    /* border-bottom: 2px solid @sky; */
}

#cpu #cpu-icon {
    color: @sky;
}

#memory {
    color: @red;
    margin-right: 10px;
    border-radius: 0 5px 5px 0;
}

#network.disabled {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#network {
    color: @green;
    /* border-bottom: 2px solid @green; */
    border-radius: 5px;
    margin-right: 5px;
}

#network.disconnected {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
    color: #fff;
    border-radius: 5px;
    margin-right: 5px;
    /* border-bottom: 2px solid @flamingo; */
}

#pulseaudio.muted {
    color: #3b4252;
    /* border-bottom: 2px solid #3b4252; */
}

#temperature {
    color: @red;
    /* border-bottom: 2px solid @teal; */
    border-radius: 5px 0 0 5px;
}

#temperature.critical {
    color: @red;
    /* border-bottom: 2px solid @red; */
}

#tray {
    /* background-color: @base; */
    margin: 8px 10px;
    border-radius: 5px;
}

#custom-launcher,
#custom-power {}

#custom-launcher {
    background-color: @green;
    color: @base;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 15px;
}

#custom-power {
    color: @base;
    background-color: @red;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 15px;
    padding: 5px 10px;
}

#window {
    border-style: hidden;
    margin-left: 10px;
    /* margin-top:1px;  
     padding: 8px 1rem; */
    margin-right: 10px;
    color: #eceff4;
}